<div>
  <h2>Subir Archivos</h2>
  <form (ngSubmit)="onFileSelected()" #fileUploadForm="ngForm" enctype="multipart/form-data">
    <input name="nameArchivo" type="file" (change)="onFileChanged($event)" />
    <button type="submit">Subir Archivo</button>
  </form>
</div>

<!-- tabla.component.html -->
<table>
  <thead>
    <tr>
      <th>id</th>
      <th>Nombre</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dato of datos">
      <td>{{ dato.idarchivo }}</td>
      <td>{{ dato.contenido_archivo }}</td>
    </tr>
  </tbody>
</table>

